body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;

}

// https://i.ibb.co/4Jyvqqf/images-3.jpg
.menu-wrap {
  width: 1200px;
  height: 500px;
  margin: 0 auto;
  width: 1200px;
  height: 500px;
  margin: 0 auto;
  background: rgb(34, 193, 195);
  background: linear-gradient(0deg, rgb(34 193 195 / 56%) 0%, rgb(253 187 45 / 24%) 100%);
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  // background-color: rgba(0, 0, 0, 0.6);
  // padding: 10px 20px;
  color: white;
  // position: fixed;
  // top: 0;
  // left: 0;
  // width: 100%;
  // z-index: 2;


.navbar-middle {
  flex-grow: 1;
  justify-content: center;

  @media screen and (max-width: 575.98px) {
    display: none; // Hide the dropdown on medium and smaller devices
  }

  @media screen and (min-width: 576px) and (max-width: 767.98px) {
    display: none; // Hide the dropdown on medium and smaller devices
  }

  @media screen and (min-width: 768px) and (max-width: 991.98px) {
    display: none; // Hide the dropdown on medium and smaller devices
  }

  button {
    font-family: serif;
    background-color: transparent;
    border: none;
    color: white;
    padding: 8px 12px;
    margin: 0 10px;
    cursor: pointer;
  }

}


.dropdown {
  position: relative;
  display: inline-block;
  margin: 20px;
  z-index: 1;

  @media screen and (min-width: 1200px) {
    display: none; // Hide the dropdown on medium and smaller devices
  }

  @media screen and (min-width: 992px) and (max-width: 1199.98px) {
    display: none; // Hide the dropdown on medium and smaller devices
  }

.dropbtn {
  background-color: #ffffff;
  border: none;
  outline: none;
  cursor: pointer;

  img {
    max-width: 100px;
    height: auto;
  }
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;

  a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;

    &:hover {
      background-color: #f1f1f1;
    }
  }
}


.dropdown:hover .dropdown-content {
  display: block;
}
}

.navbar-right {
  display: flex;
  align-items: center;
  img {
    width: 30px;
    /* Adjust the width as needed */
    height: auto;
    margin: 0 15px;
  }
}


}




.logo {
  width: 120px;
  /* Adjust the width of the logo as needed */
  height: auto;
}




.Tab-wrap {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  /* margin-top: 120px; */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(21 31 40 / 49%);
  border-radius: 85px;
  /* position: fixed; */
  width: 600px;

  ul {
    display: flex;
    align-items: center;
    justify-content: center;

    .tab {
      /* Your existing .tab styles */
      cursor: pointer;
    }

    .tab.active {
      background-color: #657071;
      /* Apply your desired background color here */
    }

    li {
      display: flex;
      align-items: center;
      margin: 0 10px;
      color: whitesmoke;
      cursor: pointer;
      font-size: 14px;

      .tab-content.active {
        display: block;
      }

      img {
        margin-right: 5px;
      }

      &.active {
        color: #22C3E6;
      }
    }
  }

  .search {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: -29px;
    background: rgb(254, 96, 14);
    border-radius: 100%;
    padding: 0px;
    width: 56px;
    height: 56px;
  }

  /* Extra small devices (phones) */
  @media screen and (max-width: 575.98px) {
    width: 50%;
    border-radius: 0px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    // padding: 20px;
    background-color: navy;

    ul {
      // flex-direction: column;
      // align-items: flex-start;

      .tab {
        margin-bottom: 10px;
      }
    }

    #searchButton {
      margin-top: 20px;
      display: flex;
      justify-content: flex-end;
      width: 100%;
      .search {
        margin-right: -3px;
        margin-top: -17px;
    }
  }
  }

  /* Small devices (tablets) */
  @media screen and (min-width: 576px) and (max-width: 767.98px) {
    width: 70%;
  }

  /* Medium devices (landscape tablets and small laptops) */
  @media screen and (min-width: 768px) and (max-width: 991.98px) {
    /* Add any specific styles for medium devices here */
  }

  /* Large devices (laptops and desktops) */
  @media screen and (min-width: 992px) {
    /* Add any specific styles for large devices here */
  }
}


.search-bar {
  // margin: 0 auto;
  display: none;
  justify-content: center;
  align-items: center;

  .searchInput {
    position: relative;

    input {
      padding: 20px;
      border: none;
      border-radius: 25px;
      outline: none;
      width: 450px;
      box-sizing: border-box;
    }

    .searchButton {
      position: absolute;
      right: 18px;
      margin-top: 15px;
    }
  }
  .close {
    margin-left: 6px;
  }
}

.platforms {
  list-style: none;
  padding: 1px;
  // box-shadow: darkslategray;
  margin: 0 auto;
  margin-top: 5px;
  align-items: center;
  justify-content: center;
  background: rgb(238,174,202);
background: linear-gradient(90deg, rgb(238, 174, 202) 0%, rgb(0 18 48 / 18%) 0%);
  border-radius: 11px;
  /* position: fixed; */
  /* top: 29%; */
  /* left: 50%; */
  width: 600px;
  /* transform: translateX(-50%); */
  /* z-index: 2; */


  /* Extra small devices (phones) */
  @media screen and (max-width: 575.98px) {
    // width: 400%;
    // top: 33%;
    // padding: 10px;

    .view {
      padding: 10px;
    }

    .products {
      grid-template-columns: repeat(3, 1fr);
      gap: 10px;
    }

    .product {
      justify-content: center;
    }
  }

  /* Small devices (tablets) */
  @media screen and (min-width: 576px) and (max-width: 767.98px) {
    width: 80%;
  }

  /* Medium devices (landscape tablets and small laptops) */
  @media screen and (min-width: 768px) and (max-width: 991.98px) {
    /* Add any specific styles for medium devices here */
  }

  /* Large devices (laptops and desktops) */
  @media screen and (min-width: 992px) {
    /* Add any specific styles for large devices here */
  }

  .view {
    margin-top: 16px;
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 0px;
    border-radius: 12px;
    padding: 19px;
    background: #19292e;
    width: 90%;
  }

  .products {
    margin-left: 13px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .product {
    justify-content: start;
    align-items: center;
    display: flex;
    gap: 10px;
    margin: 5px;
  }

  .product:hover {
    border-radius: 24px;
    background-color: #657071;
  }

  .imageShape {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2c2d3cd4;
    padding: 10px;
    border-radius: 100%;
  }
  .imageShapeBackgroundFour{
    background-color: #014054;

  }
  .imageShapeBackgroundTow{
    background-color: #1890ff;

  }
  .imageShapeBackgroundThree{
    background-color:#b96809;

  }
  .imageShapeBackgroundFive{
    background-color: white;

  }
}


.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
  justify-content: center;
  align-items: center;
}


.container {

  // width: 1200px;
  // margin: 0 auto;
  // padding: 0;

  .trending {
    display: flex;
    justify-content: space-between;
    align-items: center;


    .trending-heading {
      margin: 0;
    }

    button {
      margin-top: 10px;
    }
  }

  .TrendingProducts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

    .SingleTrending {
      width: 350px;
      padding: 16px;


      .TrendingImage {
        position: relative;
        // width: 100px;
        // height: 100px;
        overflow: hidden;
        border-radius: 7px;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        span {
          position: absolute;
          bottom: 7px;
          left: -6px;
          background-color: rgba(255, 0, 0, 0.7);
          color: white;
          padding: 5px 10px;
          border-radius: 0 5px 0 0;
          transform: skew(20deg);
        }
      }

      .TrendingDetail {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .TrendingName {
          font-family: serif;
          font-weight: 100;
          font-size: 20px;

        }

        .price {
          margin-top: auto;
        }
      }
    }
  }
}